<p>
  Marcas de Carros - API TabelaFIPE
</p>
<button (click)='buscarMarcas()'>
  Chamar API
</button>
<table border="1">
  <tr>
    <th>
      ID
    </th>
    <th>
      Name
    </th>
    <th>
      Key
    </th>
  </tr>
  <tr *ngFor='let marca of marcas;'>
    <td>
      {{ marca.id }}
    </td>
    <td>
      {{ marca.name }}
    </td>
    <td>
      {{ marca.key }}
    </td>
  </tr>
</table>